input[type=text] {
    border-radius: 6px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    height: 30px;
    width: 300px;
}

.sinput:hover{
    border-color: rgb(160,160,160);
}

.sinput:focus{
    outline:none;
    border-color: black;
}

.calculator{
    /*flex:auto;*/
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc{
    height:100%;
}

#presentation{
    text-align:center;
    font-family: sans-serif;
}

.tlabel{
    text-align: center;
    width:100%;
    display:block;
    padding:0px;
    padding-bottom: 2%;
    margin: 0px;
    font-family: sans-serif;
}

.field{
    padding-bottom: 4%;
}